#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

export SPARSEHASH_CFLAGS=-I/usr/include
export SPARSEHASH_LIBS=-L/usr/lib

export CXXFLAGS=-O3  # prevent -O2 -g default
#export CXXFLAGS=-flto=${NJOBS} -ffunction-sections -fdata-sections
#export LDFLAGS=-flto=${NJOBS}

DEB_CONFIGURE_EXTRA_FLAGS += --enable-openmp --docdir=/usr/share/doc/python3-graph-tool PYTHON=python3 --with-sparsehash-prefix=google
